<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
 <system.serviceModel>
    <services>
      <service name="MyService.CalculationService" behaviorConfiguration="MyService.CalculationServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress = "http://localhost:8731/Design_Time_Addresses/MyService/ICalculationService/" />
          </baseAddresses>
        </host>
        <endpoint address ="" binding="wsHttpBinding" contract="MyService.ICalculationService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
       <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyService.CalculationServiceBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
